.aboutMe{
    overflow: visible;
    position: relative;
    gap: 30px;
    margin-bottom: 5vw;
    // & .light{
    //     position: absolute;
    //     display: block;
    //     width: 50px;
    //     height: 50px;
    //     background-color: radial-gradient(circle at 50%, #0ea5e9 0%, #0ea5e9 5%, transparent 80%);;
    //     opacity: 1;
    //     animation: fade 100ms linear;
    //     animation-iteration-count: infinite;
    //     z-index: 10;
    //     top: 10px;
    //     @keyframes fade {
    //         0%, 100% { opacity: 0 }
    //         50% { opacity: 1 }
    //       }
    // }
    & .imgFondoAboutMe{
        position: absolute;
        opacity: 0.4;
        height: 100%;
        width: 100%;
        mask: radial-gradient(circle at 50%, white, transparent 80%);
        z-index: -10;
    
    }
    & .infoPersonal{
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
        overflow: visible;
        gap: 1rem;
        position: relative;
        & .img-container{
            & .imgAboutMe{
                margin: 0;
                max-height: inherit;
                border-radius: 2rem;
                z-index: 1;
                height: 100%;
                box-shadow: 5px 5px 30px rgba(8, 53, 73, .5);
                object-fit: cover;
                opacity: 0;
                transform: translateX(-300);
                will-change: opacity, transform;
            }
        }
        & .infoGroup{
            gap: 1rem;
            display: flex;
            flex-direction: column;
            height: 100%;
            max-height: inherit;
            overflow: visible;
            background: none;
            animation: slide-in-left;
            animation-timeline: view(70%,5%);
            & .textInfoPersonal{
                background: $-back-gradient;
                backdrop-filter: blur(3px);
                padding: 1.5rem;
                color: $white;
                gap: 1rem;
                border-radius: 2rem;
                box-shadow: 5px 5px 30px rgba(8, 53, 73, .5);
                border: $-card-border;
                & .iTitle{
                    font-size: 2rem;
                    filter: drop-shadow(2px 0px 0.15rem rgba(0,0,0,.2));
                }
                & div{
                    margin-bottom: 1rem;
                    & p{
                        margin: 0.2rem;
                        gap: 0;
                        line-height: 1rem;
                        span{
                            font-weight: 600;
                        }
                    }
                }
            }
            & .skills{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 10px;
                border-radius: 2rem;
                padding: 1.5rem;
                background: $-back-gradient;
                backdrop-filter: blur(3px);
                box-shadow: 5px 5px 30px rgba(8, 53, 73, .5);
                border: $-card-border;
                animation: slide-in-left;
                animation-timeline: view(70%,5%);
                & h3{
                    color:$white;
                    margin-bottom: 1rem;
                }
                & .developingSkills, .designingSkills{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 10px;
                    padding: 0;
                    margin: 0;
                    & li{
                        border-radius: 0.75rem;
                        height: 50px;
                        width: 50px;
                        background: radial-gradient(circle at 0%, $blue-90060 0%, $blue-70030 100%);
                        backdrop-filter: blur(3px);
                        box-shadow: 0 1px 10px rgba($blue-100, .1 );
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $white;
                        overflow: visible;
                        & .skill{
                            object-fit: contain;
                            max-height: 35px;
                            transition: opacity 200ms ease-in-out;
                            opacity: 1;
                            background-color: transparent;
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.1); /* Luz tenue en hover */
                                box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.3); /* Sombra de color en hover */
                                filter: brightness(1.5); /* Aumenta la luminosidad del ícono */
                            }
                              &:hover svg path {
                                fill: currentColor;
                              }
                        }
                        & .skill.fade-out {
                            opacity: 0;
                          }
                    }
                }
                
            }
        }
    }
}
.skills {
    max-width: 1200px;
    margin: 0 auto;
    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #F5F5F5;
    }
    & .skillsField{
        & .skills-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            & .skill-icon {
                border-radius: 0.75rem;
                height: 50px;
                width: 50px;
                background: radial-gradient(circle at 0%, rgba(12, 80, 110, 0.3764705882) 0%, rgba(3, 112, 161, 0.1882352941) 100%);
                backdrop-filter: blur(3px);
                box-shadow: 0 1px 10px rgba(224, 245, 254, 0.1);
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: contain;
                    & img {
                        object-fit: contain;
                        height: 35px;
                        transition: all 0.5s ease;
                    }
                    & .img-blur{
                        position: absolute;
                        z-index: -1;
                        transition: all 0.3s ease;
                        opacity: 0;
                        // &:hover{
                        //     filter: blur(15px) contrast(200%);
                        //     opacity: 1;
                        // }
                    }
                    &:hover{
                        &::after {
                            opacity: 1;
                        }
                        & .img-blur {
                            opacity: 1;
                            scale: 1.2;
                            filter: blur(15px) contrast(300%);
                        }
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 50%;
                        opacity: 0;
                        transition: opacity 0.3s ease;
                    }
            }
        }
    }
}

// .img-blur{
//     position: absolute;
//     z-index: -1;
//     width: 100%;
//     height: 100%;
//     transition: all 0.3s ease;
//     &:hover{
//         filter:  blur(5px) contrast(200%);
//     }
// }
