*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: $blue-bg;
}
.titulosSeccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(24px,3rem,40px);
    font-weight: 700;
    color: $white;
    &::after{
        content: "";
        position: relative;
        display: flex;
        width: 100px;
        height: 2px;
        background-color: $blue-600;
        margin-top: 1rem;
    }
}
