.botonHamburguesa{
    border: none;
}
.barraNav{
    background: radial-gradient(circle at 0%, $blue-90060 0%, $blue-70050 100%);
    border-bottom: 1px $white-300 solid;
    backdrop-filter: blur(5px);
}