@import '_aboutMe';
@import '_proyects';
@import '_slider';
@import '_contact';

.landing{
    height: 100svh;
    margin-top: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        & .imgFondo{
            position: absolute;
            opacity: 0.2;
            z-index: 0;
            top: 0;
            height: 100%;
            width: 100vw;
            object-fit: cover;
            mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0) 100%);
        }
        & .landingContainer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 80%;
            max-height: 700px;
            z-index: 1;
            overflow: hidden;
            // &::after{
            //     content: "";
            //     position: absolute;
            //     display: block;
            //     width: 5px;
            //     height: 100%;
            //     background-color: $blue-600;
            //     opacity: 1;
            //     z-index: 10;
            // }
            & .profileImg{
                object-fit: contain;
                position: relative;
                z-index: 4;
                width: 70%;
                aspect-ratio: 3/4;
                mask-image: linear-gradient(
                to left,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 1) 60%,
                rgba(0, 0, 0, 0) 100%);
                border-right: 5px solid $blue-600;

            }
            & .textoIntro{
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                text-align: left;
                z-index: 5;
                padding: 2rem 2rem 2rem 1rem;
                position: relative;
                height: 700px;
                &::before{
                    content: "";
                    position: absolute;
                    backdrop-filter: blur(3px);
                    mask: linear-gradient(to right, #fff 0%, #fff 50%, transparent 100%);
                    width: 100%;
                    height: 100%;
                    z-index: -2;
                    left: 0;
                    transform: translate(1rem 0px);
                }
                & h1{
                    color: aliceblue;
                    font-size: 3vw;
                    & span{
                        display: block;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: clamp(34px,4vw,60px);
                        line-height: 80%;
                        text-wrap: balance;
                    }
                }
                & .workArea{
                    color: $blue-600;
                    font-weight: 700;
                    font-size: clamp(20px,3vw, 50px);
                    text-wrap: balance;
                }
            }
        }

    }
