@import '_aboutMe';
main{
    background-color: $blue-bg;
    & .landing{
        height: 100svh;
        margin-top: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        & .imgFondo{
            position: absolute;
            opacity: 0.2;
            z-index: 0;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%);
        }
        & .imagenPerfil{
            display: flex;
            justify-content: end;
            align-items: center;
            width: 50%;
            &::after{
                content: "";
                position: absolute;
                width: 5px;
                height: 800px;
                max-height: 70%;
                background-color: $blue-600;
                opacity: 1;
                z-index: 10;
            }
            & img{
                position: absolute;
                aspect-ratio: 2/5;
                height: 100%;
                width: 500px;
                object-fit: contain;
                -webkit-mask-image: radial-gradient(ellipse 200% 50% at right center, black 40%, transparent 50%);
                mask-image: radial-gradient(ellipse 200% 50% at right center, black 40%, transparent 50%);
            }
            & .fadedImg{
                z-index: 4;
                filter: sepia(100%) saturate(200%) brightness(70%) hue-rotate(150deg)
            }
            & .imagenSuperior{
                z-index: 5;
                height: 100%;
            }
        }
        & .textoIntro{
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            width: 50%;
            padding-left: 2rem;
            text-align: left;
            overflow: hidden;
            z-index: 5;
            backdrop-filter: blur(3px);
            height: 75%;
            mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 100%);
            & h1{
                color: aliceblue;
                font-size: clamp(24px,4rem,60px);
                padding-bottom: 1rem;
                & span{
                    display: block;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: clamp(32px,4.5rem,80px);
                    line-height: 70%;
                }
            }
            & h2{
                color: $blue-600;
                font-weight: 700;
                font-size: clamp(24px,3rem,40px);
            }
        }
        
    }
}