.proyects{
    // min-height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 5vw;
    overflow-x: hidden;
    & #card-container{
        // position: fixed;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        & .card{
            max-width: 400px;
            border-radius: 1rem;
            overflow: hidden;
            position: relative;
            background-color: rgba(8, 53, 73, .4);
            filter: drop-shadow(5px 5px 20px rgba(8, 53, 73, .5));
            // opacity: 0;
            // transform: translateY(200px);
            // transition: opacity 0.5s, transform 0.5s;
            & .webCaptureContainer{
                position: relative;
                & .webCapture{
                    object-fit: cover;
                    height: 250px;
                    width: 100%;
                }
            }
            & .avatar{
                position: absolute;
                margin-left: 1rem;
                width: 100px;
                border-radius: 100%;
                filter: drop-shadow(5px 5px 5px rgba(0,0,0,.3));
                top: 200px;
            }
            & .avatarSvg{
                position: absolute;
                margin-left: 1rem;
                width: 100px;
                height: 100px;
                border-radius: 100%;
                filter: drop-shadow(5px 5px 5px rgba(0,0,0,.3));
                top: 200px;
                background-color: white;
                padding: 10px;
            }
            & .cardText{
                padding: 1rem;
                padding-top: 70px;
                & .proyectTitle{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    gap: 20px;
                    padding-bottom: 10px;
                    & .proyectName{
                        color: $white;
                        font-size: 2rem;
                        font-weight: 600;
                    }
                    & .proyectTools{
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        & img{
                            height: 18px;
                            opacity: 40%;
                        }
                    }
                }
            }
            & .proyectLinks{
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                padding: 1rem;
                & .siteLinkButton{
                    font-size: 14px;
                    text-decoration: none;
                    @include button1;
                }
                & .githubLink{
                    width: 40px;
                    padding: 5px;
                    filter: drop-shadow(transparent);
                    transition: filter 300ms ease-in-out;
                    &:hover{
                        filter: drop-shadow(0px 0px 5px rgba(from $white r g b / 50%));
                    }
                }
            }
        }
        // & .card.active{
        //     opacity: 1;
        //     transform: translateY(0);
        // }
    }
    
}