//----------COLORS--------//
$white: #F5F5F5;
$blue-bg: #031117;

$blue-50: #f0faff;
$blue-100: #e0f5fe;
$blue-200: #bae8fd;
$blue-300: #7dd5fc;
$blue-400: #38bcf8;
$blue-500: #0ea5e9;
$blue-600: #028ac7;
$blue-700: #0370a1;
$blue-800: #075e85;
$blue-900: #0c506e;
$blue-950: #083549;

$green-50: #ecfdf7;
$green-100: #d1faec;
$green-200: #a7f3da;
$green-300: #6ee7bf;
$green-400: #34d39e;
$green-500: #10b981;
$green-600: #059666;
$green-700: #047852;
$green-800: #065f42;
$green-900: #064e36;
$green-950: #022c1e;

//----------GRADIENTS--------//


