//----------COLORS--------//
$white: #F5F5F5;
$white-300: #F5F5F530;
$blue-bg: #031117;

$blue-50: #f0faff;
$blue-100: #e0f5fe;
$blue-200: #bae8fd;
$blue-300: #7dd5fc;
$blue-400: #38bcf8;
$blue-500: #0ea5e9;
$blue-600: #028ac7;
$blue-700: #0370a1;
$blue-800: #075e85;
$blue-900: #0c506e;
$blue-950: #083549;

$green-50: #ecfdf7;
$green-100: #d1faec;
$green-200: #a7f3da;
$green-300: #6ee7bf;
$green-400: #34d39e;
$green-500: #10b981;
$green-600: #059666;
$green-700: #047852;
$green-800: #065f42;
$green-900: #064e36;
$green-950: #022c1e;
//----------OPACITY--------//
$blue-70010: #0370a110;
$blue-70020: #0370a120;
$blue-70030: #0370a130;
$blue-70040: #0370a140;
$blue-70050: #0370a150;
$blue-70060: #0370a160;
$blue-70070: #0370a170;
$blue-70080: #0370a180;
$blue-70090: #0370a190;

$blue-80010: #075e8510;
$blue-80020: #075e8520;
$blue-80030: #075e8530;
$blue-80040: #075e8540;
$blue-80050: #075e8550;
$blue-80060: #075e8560;
$blue-80070: #075e8570;
$blue-80080: #075e8580;
$blue-80090: #075e8590;

$blue-900: #0c506e;
$blue-90010: #0c506e10;
$blue-90020: #0c506e20;
$blue-90030: #0c506e30;
$blue-90040: #0c506e40;
$blue-90050: #0c506e50;
$blue-90060: #0c506e60;
$blue-90070: #0c506e70;
$blue-90080: #0c506e80;
$blue-90090: #0c506e90;


$blue-950: #083549;

//----------GRADIENTS--------//



//----------VARIANTES BOOTSTRAP--------//
